body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #808080
}

.buttons {
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}

.floor-plan {
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#floorImage {
    max-width: 100%;
    display: none;
}
h2
{
    background-color: #DCDCDC;
    border-radius: 10px; /* Устанавливаем радиус закругления */
}
@media (max-width: 400px) {
    button {
        font-size: 10px;
    }
    div {
        width: 21rem;	height: 33rem;
        background: #D3D3D3;
        outline: 1px solid #000;
        border: 3px solid black;
        border-radius: 10px;

   }
    img {
        margin-left: 4rem
    }
}
@media (min-width: 401px) and (max-width: 768px) {
    button {
        font-size: 12px;
    }
    div {
        width: 25rem;	height: 40rem;
        background: #D3D3D3;
        outline: 1px solid #000;
        border: 3px solid black;
        border-radius: 10px;
        

   }
    img {
        margin-left: 6rem
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    button {
        font-size: 16px;
    }
    div {
        width: 50rem;	height: 40rem;
        background: #D3D3D3	;
        outline: 1px solid #000;
        border: 3px solid #000;
        border-radius: 10px;

   }
   img {
   margin-left: 12rem}
}

@media (min-width: 1025px) {
    button {
        font-size: 18px;
    }
    div {
        width: 60rem;	height: 45rem;
        background: #D3D3D3	;
        outline: 1px solid #000;
        border: 3px solid #000;
        border-radius: 10px;
   }
   img {
   margin-left: 16rem}
}
